In [34]:
import numpy as np
import pandas as pd
import sqlite3
import matplotlib
import matplotlib.pyplot as plt
%matplotlib inline
matplotlib.rcParams['figure.figsize'] = (10.0, 6.0)

In [2]:
# Read sqlite query results into a pandas DataFrame
con = sqlite3.connect("collectors/data.sqlite3")
job_df = pd.read_sql_query("SELECT * from job_post", con)
company_review_df = pd.read_sql_query("SELECT * from company_review", con)
job_interview_df = pd.read_sql_query("SELECT * from job_interview", con)
con.close()

In [3]:
# Verify that result of SQL query is stored in the dataframe
job_df.head()

,id,title,company,location,description,source,search_kw
0,1,Data Scientist,Aquatic Informatics,"Vancouver, BC",Do you want a meaningful role in a company tha...,indeed.com,data scientist
1,2,Business Intelligence Analyst,GLENTEL,"Burnaby, BC",Brand: Glentel Corporate\nLocation: Burnaby Of...,indeed.com,data scientist
2,3,Human Resources Data Scientist,Rio Tinto,Canada,2 x newly created Data Scientist opportunities...,indeed.com,data scientist
3,4,Lead - Human Resource Data Scientist,Rio Tinto,Canada,Newly created data science lead embedded withi...,indeed.com,data scientist
4,5,Machine Learning Engineer,Skycope Technologies Inc,"Vancouver, BC","Who We are\nFounded in 2016, Skycope Technolog...",indeed.com,data scientist

In [4]:
company_review_df.head(5)

,id,company,title,rating,author,author_status,location,date,description,source
0,1,bmo financial group,Decent,3.0,Credit Analyst (Current Employee),N/A,"Burnaby, BC",11 July 2018,Not a bad job but can get boring easily. Manag...,indeed.com
1,2,bmo financial group,easy place to work,3.0,Project Manager (Former Employee),N/A,"Toronto, ON",7 April 2020,co-workers are friendly but pay is not good at...,indeed.com
2,3,bmo financial group,Dead Industry- They will squeeze you like a le...,1.0,Assistant Manager (Former Employee),N/A,"Cambridge, ON",6 April 2020,They give you the illusion of how great of a j...,indeed.com
3,4,bmo financial group,"In BMO agile team, one developer has to servic...",2.0,Software Specialist (Former Employee),N/A,"Toronto, ON",6 April 2020,"Basically, in BMO agile team, they hire 5+ per...",indeed.com
4,5,bmo financial group,Good,5.0,Relationship Manager (Current Employee),N/A,"Nanaimo, BC",4 April 2020,Work/life balance and customer centric. Traini...,indeed.com

In [5]:
job_interview_df.head()

,id,company,title,question,date,source,search_kw
0,1,Geotab,Data Scientist,Past projects,"Mar. 6, 2019",glassdoor.com,data scientist
1,2,Benbria,"Full-stack Developer, Data Scientist",NLP challenge about finding semantic similarit...,"Nov. 11, 2015",glassdoor.com,data scientist
2,3,Banque Nationale du Canada/National Bank of Ca...,Data Scientist,What measure would you use to assess the perfo...,"Nov. 25, 2019",glassdoor.com,data scientist
3,4,Geotab,Data Scientist,Walk me through your educational background.,"Feb. 1, 2020",glassdoor.com,data scientist
4,5,Capital One,Data Scientist,They provided some scenarios of a business and...,"Oct. 7, 2019",glassdoor.com,data scientist

In [6]:
job_df.describe()

                id
count  1450.000000
mean    735.258621
std     419.134002
min       1.000000
25%     373.250000
50%     735.500000
75%    1097.750000
max    1460.000000

In [7]:
job_df[job_df['search_kw'] == 'data scientist']['title'].head(50)

0                                      Data Scientist
1                       Business Intelligence Analyst
2                      Human Resources Data Scientist
3                Lead - Human Resource Data Scientist
4                           Machine Learning Engineer
5                                      Data Scientist
6                            Associate Data Scientist
7                                    Data Scientist I
8                            Data Scientist, AI@Unity
9                                      Data Scientist
10                                     Data Scientist
11                                     Data Scientist
12                         Jr. Data Science Developer
13                                     Data Scientist
14                     Data scientist (summer intern)
15    Data Scientist - Price Point – Start-up company
16    Data Scientist - Price Point – Start-up company
17        Manager of Data Science, RACE21 - Vancouver
18                                     Data Scientist
19                        Lead Educator, Data Science
20                         Jr. Data Science Developer
21                                     Data Scientist
22                              Data Scientist - FIFA
23                                  Applied Scientist
24                     Senior Data Scientist AI@Unity
30                                     DATA SCIENTIST
31    Data Scientist - Price Point – Start-up company
32                     Big Data Operations Specialist
33                              Senior Data Scientist
34                 Director, Data Science Initiatives
35    Data Scientist - Price Point – Start-up company
36                      Business Intelligence Analyst
37               Lead - Human Resource Data Scientist
38                                     Data Scientist
39                           Associate Data Scientist
40                                   Data Scientist I
41                           Data Scientist, AI@Unity
42                                     Data Scientist
43                                     Data Scientist
44                                     Data Scientist
45                         Jr. Data Science Developer
46                                     Data Scientist
47                                     Data Scientist
48                     Human Resources Data Scientist
49                                     Data Scientist
50                                     Data Scientist
51        Manager of Data Science, RACE21 - Vancouver
52                     Data scientist (summer intern)
53                        Lead Educator, Data Science
54                         Jr. Data Science Developer
Name: title, dtype: object

In [8]:
title_df = job_df[job_df['search_kw'] == 'data scientist'][['title']].copy()

In [9]:
title_df.head()

                                  title
0                        Data Scientist
1         Business Intelligence Analyst
2        Human Resources Data Scientist
3  Lead - Human Resource Data Scientist
4             Machine Learning Engineer

In [10]:
title_df['title_length'] = title_df.apply(lambda row: len(row['title']), axis=1)

In [11]:
import spacy

nlp = spacy.load('en_core_web_sm')

In [12]:
title_df['tokens'] = title_df.apply(lambda row: [token for token in nlp(row['title']) if not token.is_punct], axis=1)

In [13]:
title_df.head(50)

,title,title_length,tokens
0,Data Scientist,14,"[Data, Scientist]"
1,Business Intelligence Analyst,29,"[Business, Intelligence, Analyst]"
2,Human Resources Data Scientist,30,"[Human, Resources, Data, Scientist]"
3,Lead - Human Resource Data Scientist,36,"[Lead, Human, Resource, Data, Scientist]"
4,Machine Learning Engineer,25,"[Machine, Learning, Engineer]"
5,Data Scientist,14,"[Data, Scientist]"
6,Associate Data Scientist,24,"[Associate, Data, Scientist]"
7,Data Scientist I,16,"[Data, Scientist, I]"
8,"Data Scientist, AI@Unity",24,"[Data, Scientist, AI@Unity]"
9,Data Scientist,14,"[Data, Scientist]"
10,Data Scientist,14,"[Data, Scientist]"
11,Data Scientist,14,"[Data, Scientist]"
12,Jr. Data Science Developer,26,"[Jr., Data, Science, Developer]"
13,Data Scientist,14,"[Data, Scientist]"
14,Data scientist (summer intern),30,"[Data, scientist, summer, intern]"
15,Data Scientist - Price Point – Start-up company,47,"[Data, Scientist, Price, Point, Start, up, com..."
16,Data Scientist - Price Point – Start-up company,47,"[Data, Scientist, Price, Point, Start, up, com..."
17,"Manager of Data Science, RACE21 - Vancouver",43,"[Manager, of, Data, Science, RACE21, Vancouver]"
18,Data Scientist,14,"[Data, Scientist]"
19,"Lead Educator, Data Science",27,"[Lead, Educator, Data, Science]"
20,Jr. Data Science Developer,26,"[Jr., Data, Science, Developer]"
21,Data Scientist,14,"[Data, Scientist]"
22,Data Scientist - FIFA,21,"[Data, Scientist, FIFA]"
23,Applied Scientist,17,"[Applied, Scientist]"
24,Senior Data Scientist AI@Unity,30,"[Senior, Data, Scientist, AI@Unity]"
30,DATA SCIENTIST,14,"[DATA, SCIENTIST]"
31,Data Scientist - Price Point – Start-up company,47,"[Data, Scientist, Price, Point, Start, up, com..."
32,Big Data Operations Specialist,30,"[Big, Data, Operations, Specialist]"
33,Senior Data Scientist,21,"[Senior, Data, Scientist]"
34,"Director, Data Science Initiatives",34,"[Director, Data, Science, Initiatives]"
35,Data Scientist - Price Point – Start-up company,47,"[Data, Scientist, Price, Point, Start, up, com..."
36,Business Intelligence Analyst,29,"[Business, Intelligence, Analyst]"
37,Lead - Human Resource Data Scientist,36,"[Lead, Human, Resource, Data, Scientist]"
38,Data Scientist,14,"[Data, Scientist]"
39,Associate Data Scientist,24,"[Associate, Data, Scientist]"
40,Data Scientist I,16,"[Data, Scientist, I]"
41,"Data Scientist, AI@Unity",24,"[Data, Scientist, AI@Unity]"
42,Data Scientist,14,"[Data, Scientist]"
43,Data Scientist,14,"[Data, Scientist]"
44,Data Scientist,14,"[Data, Scientist]"
45,Jr. Data Science Developer,26,"[Jr., Data, Science, Developer]"
46,Data Scientist,14,"[Data, Scientist]"
47,Data Scientist,14,"[Data, Scientist]"
48,Human Resources Data Scientist,30,"[Human, Resources, Data, Scientist]"
49,Data Scientist,14,"[Data, Scientist]"
50,Data Scientist,14,"[Data, Scientist]"
51,"Manager of Data Science, RACE21 - Vancouver",43,"[Manager, of, Data, Science, RACE21, Vancouver]"
52,Data scientist (summer intern),30,"[Data, scientist, summer, intern]"
53,"Lead Educator, Data Science",27,"[Lead, Educator, Data, Science]"
54,Jr. Data Science Developer,26,"[Jr., Data, Science, Developer]"

In [14]:
job_df.iloc[0]['description']

"Do you want a meaningful role in a company that is making a difference in the world? Do you want to be involved in one of the most important environmental resource areas today? Do you want to learn what's involved in developing and deploying machine learning and predictive analytics solutions from colleagues with years of research and development experience? Then join our energetic and growing team and help revolutionize an industry.\nAbout our company\nFounded in 2003, Aquatic Informatics provides software solutions that address critical water data management, analytics and compliance challenges for the rapidly growing water industry. Aquatic Informatics is the trusted provider of water management solutions to over 1,000 municipal, federal, state/provincial, hydropower, mining, academic, and consulting organizations in over 60 countries that collect, manage, and process large volumes of water data.\nAquatic Informatics' platforms include AQUARIUS (http://aquaticinformatics.com/why-aquarius/) analytics software for natural environments, WaterTrax (https://aquaticinformatics.com/products/watertrax/) compliance and electronic reporting tools for municipalities, Linko (https://aquaticinformatics.com/products/linko/) software for the management of industrial pretreatment and hauled waste records and Tokay (https://www.tokay.com/) for backflow prevention. From source water through to the receiving environment, our interconnected data management platforms drive the efficient management of water information across the water cycle to protect human health and reduce environmental impact.\nAquatic Informatics is headquartered in Vancouver, Canada and has offices in the US and Australia. We are one of the fastest-growing clean technology companies in Canada. We value independent thinking, initiative, teamwork, a relentless pursuit of quality, a playful spirit, and a sense of humour. We like smart people – IQ and EQ – who care about the environment and want to do good in the world.\nAbout the opportunity\nYou will become an integral member of the team researching and operationalizing algorithms and models for processing water and other environmental data. Working in an Agile scrum team, you will be exposed to the breadth of data science activities, including hypothesis definition, data wrangling and exploratory data analysis, model development and validation, and production deployment and debugging test and customer-reported issues.\nQualifications\nMasters or PhD in data science, computer science/engineering, statistics, or a related quantitative discipline.\n2+ years of hands-on experience in applied machine learning, predictive modeling and data analysis.\nSolid understanding of mathematical concepts and techniques including: time series analysis, regression modeling, forecasting, and machine-learning.\nExperience with at least one scientific language (Python, R, Matlab) and knowledge of software design principles.\nPassion for data - thrive on using data to solve challenging real-world problems.\nLife long learner - incessantly inquisitive about emerging research and technology.\nExcellent English communication skills, both verbal and written.\nAssets\nExperience with python packages and frameworks including pandas, NumPy, scikit-learn, TensorFlow, and PyTorch.\nBackground in environmental science.\nExperience with data visualization.\nExperience deploying data science solutions in production.\nExperience with AWS or other cloud services and cloud technologies."

In [15]:
doc = nlp(job_df.iloc[0]['description'])
# Iterate over the predicted entities
for ent in doc.ents:
    # Print the entity text and its label
    print(ent.text, ent.label_)

today DATE
years DATE
2003 DATE
Aquatic Informatics ORG
Aquatic Informatics ORG
over 1,000 CARDINAL
over 60 CARDINAL
Aquatic Informatics' ORG
AQUARIUS ORG
WaterTrax ORG
Linko ORG
https://aquaticinformatics.com/products/linko/ ORG
Aquatic Informatics ORG
Vancouver GPE
Canada GPE
US GPE
Australia GPE
one CARDINAL
Canada GPE
EQ ORG
PhD WORK_OF_ART
2+ years DATE
at least one CARDINAL
Python ORG
English LANGUAGE
NumPy LOC
TensorFlow PRODUCT
PyTorch ORG
AWS ORG

In [16]:
spacy.explain('LOC')

'Non-GPE locations, mountain ranges, bodies of water'

In [40]:
onet_competencies = 'datasets/competencies.csv'
onet_df = pd.read_csv(onet_competencies,index_col=0)
onet_df[onet_df['occupation'] == 'Computer and Information Research Scientists'].head(20)

,occupation,competency,category,description
0,Computer and Information Research Scientists,Source code management SCM software,Technology Skills,Development environment software
1,Computer and Information Research Scientists,Microsoft Azure,Technology Skills,Development environment software
2,Computer and Information Research Scientists,Visualization,Abilities,The ability to imagine how something will look...
3,Computer and Information Research Scientists,Free-field speakers,Tools Used,Loudspeakers
4,Computer and Information Research Scientists,Data visualization software,Technology Skills,Analytical or scientific software
5,Computer and Information Research Scientists,Judgment and Decision Making,Skills,Considering the relative costs and benefits of...
6,Computer and Information Research Scientists,Linux,Technology Skills,Operating system software
7,Computer and Information Research Scientists,IBM Rational Apex,Technology Skills,Configuration management software
8,Computer and Information Research Scientists,Minitab,Technology Skills,Analytical or scientific software
9,Computer and Information Research Scientists,Evaluate project plans and proposals to assess...,Task Statements,Core
10,Computer and Information Research Scientists,Processing Information,Work Activities,"Compiling, coding, categorizing, calculating, ..."
11,Computer and Information Research Scientists,Time Management,Skills,Managing one's own time and the time of others.
12,Computer and Information Research Scientists,Reading Comprehension,Skills,Understanding written sentences and paragraphs...
13,Computer and Information Research Scientists,Integrity,Work Styles,Job requires being honest and ethical.
14,Computer and Information Research Scientists,PHP: Hypertext Preprocessor,Technology Skills,Web platform development software
15,Computer and Information Research Scientists,Estimating the Quantifiable Characteristics of...,Work Activities,"Estimating sizes, distances, and quantities; o..."
16,Computer and Information Research Scientists,Polaris parallelizing compilers,Technology Skills,Compiler and decompiler software
17,Computer and Information Research Scientists,Network storage arrays,Tools Used,Hard disk arrays
18,Computer and Information Research Scientists,Mathematical Reasoning,Abilities,The ability to choose the right mathematical m...
19,Computer and Information Research Scientists,Polhemus Fasttrack System,Technology Skills,Analytical or scientific software

In [18]:
onet_df[onet_df['competency'] == 'Python'].head()

,occupation,competency,category,description
111,Computer and Information Research Scientists,Python,Technology Skills,Object or component oriented development software
716,Bioinformatics Scientists,Python,Technology Skills,Object or component oriented development software
909,Geospatial Information Scientists and Technolo...,Python,Technology Skills,Object or component oriented development software
1115,Survey Researchers,Python,Technology Skills,Object or component oriented development software
1283,Statisticians,Python,Technology Skills,Object or component oriented development software

In [19]:
onet_occupations = 'datasets/occupations.csv'
onet_oc_df = pd.read_csv(onet_occupations,index_col=0)
onet_oc_df.head(5)

,identifier,name,description,titles
0,15-1111.00,Computer and Information Research Scientists,Conduct research into fundamental computer and...,Artificial Intelligence Specialist (AI Special...
1,19-4061.00,Social Science Research Assistants,"Assist social scientists in laboratory, survey...","Bilingual Research Interviewer,Clinical Resear..."
2,19-2099.01,Remote Sensing Scientists and Technologists,Apply remote sensing principles and methods to...,"All Source Intelligence Analyst,Data Analytics..."
3,19-1029.01,Bioinformatics Scientists,Conduct research using bioinformatics theory a...,"Assistant Scientist,Bioinformatician,Bioinform..."
4,15-1199.04,Geospatial Information Scientists and Technolo...,Research or develop geospatial technologies. M...,"Geographic Information Scientist,Geographic In..."

In [22]:
onet_oc_df.iloc[0]['titles']

'Artificial Intelligence Specialist (AI Specialist),Computational Linguist,Computational Theory Scientist,Computer Scientist,Computer Specialist,Control System Computer Scientist,Data Analyst,Data Consultant,Data Scientist,HPC Applications Manager (High Performance Computing Applications Manager),Information Scientist,Languages Researcher,Machine Learning Scientist,Multi-Disciplined Language Analyst,Programming Methodology Researcher,Research and Development Engineer (R&D Engineer),Research Scientist,Scientific Programmer Analyst'

In [23]:
onet_oc_df.iloc[1]['titles']

'Bilingual Research Interviewer,Clinical Research Assistant,Economic Research Assistant,Economist Research Assistant,Graduate Assistant,Graduate Research Assistant,Historian Research Assistant,Laboratory Assistant,Market Research Interviewer,Political Science Research Assistant,Postdoctoral Research Associate,Psychologist Research Assistant,Research Aide,Research Assistant,Research Associate,Research Interviewer,Research Specialist,Research Technician,Social Research Assistant,Sociology Research Assistant,Survey Analyst'

In [24]:
onet_oc_df.iloc[2]['titles']

'All Source Intelligence Analyst,Data Analytics Chief Scientist,Geospatial Image Analyst,Geospatial Intelligence Analyst,Image Scientist,Imagery Remote Sensing Scientist,LIDAR Analyst (Light Detection and Ranging Analyst),LIDAR Scientist (Light Detection and Ranging Scientist),Measurement and Signatures Intelligence Analyst,Microwave Remote Sensing Scientist,Professor,Radar Exploitation Scientist,Radar Scientist,Remote Sensing Analyst,Remote Sensing Certified Mapping Scientist,Remote Sensing Engineer,Remote Sensing Program Manager,Remote Sensing Research Scientist,Remote Sensing Scientist,Remote Sensing Specialist,Remote Sensing Technologist,Research and Development Director (R&D Director),Research Scientist,Scientist,Sensor Assembler,Sensor Specialist,Signal Intelligence Analyst,Spectral Scientist,Thermal Intelligence Analyst,Weather Algorithm Scientist'

In [25]:
import spacy
# Load a larger model with vectors
nlp = spacy.load('en_core_web_md')

In [38]:
doc = nlp('Big Data Operations Specialist')
print(doc.similarity(nlp(onet_oc_df.iloc[0]['titles'])))
print(doc.similarity(nlp(onet_oc_df.iloc[1]['titles'])))
print(doc.similarity(nlp(onet_oc_df.iloc[2]['titles'])))
print(doc.similarity(nlp(onet_oc_df.iloc[3]['titles'])))

0.7371798090666445
0.6468259776285717
0.7170587506003221
0.6429794468697507

In [39]:
for i in range(4):
    occupation_name = onet_oc_df.iloc[i]['name']
    alternate_titles = onet_oc_df.iloc[i]['titles'].split(',')
    sim_scores = [doc.similarity(nlp(title)) for title in alternate_titles]
    sorted_indx = np.argsort(sim_scores)[::-1]
    print('{} + {}: {}'.format(doc.text, occupation_name, doc.similarity(nlp(occupation_name))))
    for i,v in enumerate(sorted_indx):
        print('{} - {}: {}'.format(doc.text, alternate_titles[v], sim_scores[v]))
    print('---')

Big Data Operations Specialist + Computer and Information Research Scientists: 0.7093506018287633
Big Data Operations Specialist - Data Consultant: 0.795394465487102
Big Data Operations Specialist - Computer Specialist: 0.7230699104682196
Big Data Operations Specialist - Data Analyst: 0.7104724322541582
Big Data Operations Specialist - HPC Applications Manager (High Performance Computing Applications Manager): 0.6809184580725549
Big Data Operations Specialist - Data Scientist: 0.6663565682746395
Big Data Operations Specialist - Artificial Intelligence Specialist (AI Specialist): 0.664899667883117
Big Data Operations Specialist - Research and Development Engineer (R&D Engineer): 0.655803543406149
Big Data Operations Specialist - Control System Computer Scientist: 0.6512401529568026
Big Data Operations Specialist - Multi-Disciplined Language Analyst: 0.5826386039225384
Big Data Operations Specialist - Programming Methodology Researcher: 0.5810006230669991
Big Data Operations Specialist - Scientific Programmer Analyst: 0.5806333234532401
Big Data Operations Specialist - Information Scientist: 0.5783665930982115
Big Data Operations Specialist - Machine Learning Scientist: 0.5622674559554712
Big Data Operations Specialist - Computer Scientist: 0.5136998374639841
Big Data Operations Specialist - Research Scientist: 0.5111808533899894
Big Data Operations Specialist - Languages Researcher: 0.4431504496846027
Big Data Operations Specialist - Computational Theory Scientist: 0.42235360644987335
Big Data Operations Specialist - Computational Linguist: 0.33556751113790245
---
Big Data Operations Specialist + Social Science Research Assistants: 0.6128594975036172
Big Data Operations Specialist - Research Specialist: 0.7193516810222857
Big Data Operations Specialist - Economic Research Assistant: 0.6725968630427515
Big Data Operations Specialist - Research Technician: 0.6563410308249892
Big Data Operations Specialist - Market Research Interviewer: 0.6474037490089636
Big Data Operations Specialist - Social Research Assistant: 0.63564425877647
Big Data Operations Specialist - Clinical Research Assistant: 0.6225596729858865
Big Data Operations Specialist - Research Assistant: 0.6082073302466708
Big Data Operations Specialist - Research Aide: 0.6082073302466708
Big Data Operations Specialist - Political Science Research Assistant: 0.5987298247529467
Big Data Operations Specialist - Research Associate: 0.5932908111453893
Big Data Operations Specialist - Survey Analyst: 0.5711259842336918
Big Data Operations Specialist - Graduate Research Assistant: 0.5400494458676288
Big Data Operations Specialist - Historian Research Assistant: 0.5298888798839176
Big Data Operations Specialist - Economist Research Assistant: 0.5262843693989969
Big Data Operations Specialist - Sociology Research Assistant: 0.5136377540547143
Big Data Operations Specialist - Postdoctoral Research Associate: 0.5121593863687307
Big Data Operations Specialist - Psychologist Research Assistant: 0.5106104519455644
Big Data Operations Specialist - Research Interviewer: 0.4960076098634595
Big Data Operations Specialist - Laboratory Assistant: 0.4950277695097906
Big Data Operations Specialist - Bilingual Research Interviewer: 0.46410534189058233
Big Data Operations Specialist - Graduate Assistant: 0.3988105184007674
---
Big Data Operations Specialist + Remote Sensing Scientists and Technologists: 0.6535912422720085
Big Data Operations Specialist - Data Analytics Chief Scientist: 0.7206598152019912
Big Data Operations Specialist - All Source Intelligence Analyst: 0.6955904114060163
Big Data Operations Specialist - Measurement and Signatures Intelligence Analyst: 0.6786571484754291
Big Data Operations Specialist - Remote Sensing Program Manager: 0.6640791838768194
Big Data Operations Specialist - Geospatial Intelligence Analyst: 0.6634545142359592
Big Data Operations Specialist - LIDAR Analyst (Light Detection and Ranging Analyst): 0.6591356316615324
Big Data Operations Specialist - Remote Sensing Specialist: 0.6455926806757895
Big Data Operations Specialist - Geospatial Image Analyst: 0.6432118739492707
Big Data Operations Specialist - Signal Intelligence Analyst: 0.6129470152611783
Big Data Operations Specialist - Remote Sensing Certified Mapping Scientist: 0.6105393775501106
Big Data Operations Specialist - Remote Sensing Research Scientist: 0.6103456534890254
Big Data Operations Specialist - Sensor Specialist: 0.609403688308043
Big Data Operations Specialist - Research and Development Director (R&D Director): 0.6085749561982686
Big Data Operations Specialist - Thermal Intelligence Analyst: 0.5999924884727282
Big Data Operations Specialist - Remote Sensing Analyst: 0.5932051504948216
Big Data Operations Specialist - LIDAR Scientist (Light Detection and Ranging Scientist): 0.5856099907015904
Big Data Operations Specialist - Remote Sensing Engineer: 0.5510006122941686
Big Data Operations Specialist - Remote Sensing Technologist: 0.5483282223682939
Big Data Operations Specialist - Imagery Remote Sensing Scientist: 0.5231794934283148
Big Data Operations Specialist - Weather Algorithm Scientist: 0.5166509340843549
Big Data Operations Specialist - Remote Sensing Scientist: 0.513073429123375
Big Data Operations Specialist - Research Scientist: 0.5111808533899894
Big Data Operations Specialist - Radar Exploitation Scientist: 0.5014369581105407
Big Data Operations Specialist - Microwave Remote Sensing Scientist: 0.4851386503941248
Big Data Operations Specialist - Spectral Scientist: 0.461128028462736
Big Data Operations Specialist - Radar Scientist: 0.4494927186264084
Big Data Operations Specialist - Image Scientist: 0.43817262684324687
Big Data Operations Specialist - Sensor Assembler: 0.32710125048414707
Big Data Operations Specialist - Scientist: 0.315231820716272
Big Data Operations Specialist - Professor: 0.26432399345018154
---

/usr/local/Cellar/python/3.7.7/Frameworks/Python.framework/Versions/3.7/lib/python3.7/runpy.py:193: UserWarning: [W008] Evaluating Doc.similarity based on empty vectors.
  "__main__", mod_spec)
/usr/local/Cellar/python/3.7.7/Frameworks/Python.framework/Versions/3.7/lib/python3.7/runpy.py:193: UserWarning: [W008] Evaluating Doc.similarity based on empty vectors.
  "__main__", mod_spec)

Big Data Operations Specialist + Bioinformatics Scientists: 0.39383310192766396
Big Data Operations Specialist - Data Analyst: 0.7104724322541582
Big Data Operations Specialist - Bioinformatics Support Specialist: 0.6761007626776556
Big Data Operations Specialist - Systems Analyst: 0.6623984934459473
Big Data Operations Specialist - Microarray Specialist: 0.6481978159552448
Big Data Operations Specialist - Drug Discovery Informatics Specialist: 0.6446922348574784
Big Data Operations Specialist - Bioinformatics Research Specialist: 0.6356853576140955
Big Data Operations Specialist - Senior Bioinformatics Specialist: 0.6267165898713728
Big Data Operations Specialist - Principal Bioinformatics Specialist: 0.6229470174000981
Big Data Operations Specialist - Senior Research Associate: 0.6145398554835355
Big Data Operations Specialist - Research Assistant: 0.6082073302466708
Big Data Operations Specialist - Director of Translation and Experimental Medicine Bioinformatics: 0.6070568331445836
Big Data Operations Specialist - Scientific Informatics Project Leader: 0.606414245204286
Big Data Operations Specialist - Research Associate: 0.5932908111453893
Big Data Operations Specialist - Scientific Database Curator: 0.5905958908120046
Big Data Operations Specialist - Bioinformatics Specialist: 0.5797882830952618
Big Data Operations Specialist - Director of Bioinformatics and Trait Discovery: 0.5711351356059132
Big Data Operations Specialist - Oncology Bioinformatics Analyst: 0.5710999140844003
Big Data Operations Specialist - Genomics Specialist: 0.5680587143341086
Big Data Operations Specialist - Director of Informatics: 0.5489630938690382
Big Data Operations Specialist - Laboratory Bioinformatics Analyst: 0.539901150509833
Big Data Operations Specialist - Bioinformatics Consultant: 0.5340411126099159
Big Data Operations Specialist - Scientific Informatics Leader: 0.5339094427707296
Big Data Operations Specialist - Bioinformatics Team Member: 0.523324626142343
Big Data Operations Specialist - Research Scientist: 0.5111808533899894
Big Data Operations Specialist - Bioinformatics Computer Scientist: 0.4940038343633611
Big Data Operations Specialist - Bioinformatics Analyst: 0.4936028856750449
Big Data Operations Specialist - Research Professor of Biostatistics: 0.4805340410910177
Big Data Operations Specialist - Senior Bioinformatics Scientist: 0.47188731998918965
Big Data Operations Specialist - Bioinformatics Engineer: 0.47006233400221353
Big Data Operations Specialist - Programmer Analyst: 0.4684316483719554
Big Data Operations Specialist - Senior Scientist: 0.468087577015821
Big Data Operations Specialist - Bioinformatics Developer: 0.46492479020150523
Big Data Operations Specialist - Genetics Bioinformatics Analyst: 0.4628806721195453
Big Data Operations Specialist - Post Doctoral Researcher: 0.44843716003706585
Big Data Operations Specialist - Microarray Analyst: 0.4326798236045516
Big Data Operations Specialist - Molecular Modeler: 0.43009947926284237
Big Data Operations Specialist - Bioinformatics Associate: 0.41777363812872387
Big Data Operations Specialist - Assistant Scientist: 0.41502475450918863
Big Data Operations Specialist -  Informatics: 0.3799446862522573
Big Data Operations Specialist - Director: 0.36669755940543286
Big Data Operations Specialist - Computational Biologist: 0.3600648012359098
Big Data Operations Specialist - Bioinformatics Scientist: 0.35941561174199177
Big Data Operations Specialist - Scientist: 0.315231820716272
Big Data Operations Specialist - Postdoctoral Scholar: 0.26511665878402985
Big Data Operations Specialist - Postdoc: 0.1333298098501747
Big Data Operations Specialist - Bioinformaticist: 0.0
Big Data Operations Specialist - Bioinformatician: 0.0
---

In [29]:
doc = nlp('Business Intelligence Analyst')
print(doc.similarity(nlp(onet_oc_df.iloc[0]['titles'])))
print(doc.similarity(nlp(onet_oc_df.iloc[1]['titles'])))
print(doc.similarity(nlp(onet_oc_df.iloc[2]['titles'])))
print(doc.similarity(nlp(onet_oc_df.iloc[3]['titles'])))

0.7161262410604239
0.6613766253064824
0.6596076918653252
0.6487509702928542

In [30]:
onet_oc_df.iloc[0]['titles'].split(',')

['Artificial Intelligence Specialist (AI Specialist)',
 'Computational Linguist',
 'Computational Theory Scientist',
 'Computer Scientist',
 'Computer Specialist',
 'Control System Computer Scientist',
 'Data Analyst',
 'Data Consultant',
 'Data Scientist',
 'HPC Applications Manager (High Performance Computing Applications Manager)',
 'Information Scientist',
 'Languages Researcher',
 'Machine Learning Scientist',
 'Multi-Disciplined Language Analyst',
 'Programming Methodology Researcher',
 'Research and Development Engineer (R&D Engineer)',
 'Research Scientist',
 'Scientific Programmer Analyst']